@import "../../../styles/variables";

.filters {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 20px 0;
  &__filter {
    align-items: center;
    background-color: $gray;
    border: none;
    border-radius: 4px;
    display: flex;
    font-size: 1.25rem;
    font-weight: bold;
    height: 40px;
    justify-content: center;
    width: 150px;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      background: $dark-gray;
    }
    &--active {
      background-color: $blue !important; 
      color: white;
    }
  }
}