@import '../../styles/_variables';

.menu {
    padding: 20px $padding_horizontal;
}

.header {
    height: 300px;
    background-image: url('../../assets/menu/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 $padding_horizontal;

    &__text {
        color: white;
        font-size: 5rem;
        width: 40%;
        min-width: 400px;
    }
}

.menu {
    &__title {
        font-size: 2rem;
    }
    &__filters {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;
        padding-bottom: 200px;
      }
}